#dropFileZone {
    background-color: #EEE;
    border: #999 5px dashed;
    width: 290px;
    height: 200px;
    padding: 8px;
    font-size: 18px;
}
#dragUploadFile {
    width:50%;
    margin:0 auto;
}
#dragUploadFile p {
    text-align: center;
}
#dragUploadFile #selectFile {
    display: none;
}