<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.potato.nedonado.mapper.BoardMapper">

    <select id="selectItemListByPage"
    resultType="com.potato.nedonado.model.board.ItemEntity">
        SELECT *
        FROM board
        WHERE onSale != 0
        ORDER BY boardIdx DESC
        LIMIT #{page}, 2
    </select>

    <insert id="insertItem"
    parameterType="com.potato.nedonado.model.board.ItemEntity">
        INSERT INTO board(title, content, category, thumbnail, imgURL, price, userIdx, writeDate)
        VALUES (#{title}, #{content}, #{category}, #{thumbnail}, #{imgURL}, #{price}, #{userIdx}, #{writeDate})
    </insert>


    <select id="selectItemByIdx"
        resultType="com.potato.nedonado.model.board.ItemEntity">
        SELECT *
        FROM board
        WHERE boardIdx = #{boardIdx}
    </select>


    <select id="selectItemListByItemIdx"
            resultType="com.potato.nedonado.model.board.ItemEntity">
        SELECT *
        FROM board
        <where>
            onSale != 0
            <if test="boardIdx != 0">
                and boardIdx &lt; #{boardIdx}
            </if>
        </where>
        ORDER BY boardIdx DESC
        LIMIT 0, 2
    </select>
</mapper>