<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.potato.nedonado.mapper.BoardMapper">

    <select id="selectItemListByPage"
    resultType="com.potato.nedonado.model.board.ItemEntity">
        SELECT *
        FROM board
        WHERE onSale != 0
        ORDER BY boardIdx DESC
        LIMIT #{page}, 10
    </select>

    <insert id="insertItem"
    parameterType="com.potato.nedonado.model.board.ItemEntity">
        INSERT INTO board(title, content, category, thumbnail, imgURL, price, userIdx, writeDate)
        VALUES (#{title}, #{content}, #{category}, #{thumbnail}, #{imgURL}, #{price}, #{userIdx}, #{writeDate})
    </insert>

    <select id="selectItemByIdx"
        resultType="com.potato.nedonado.model.board.ItemEntity">
        SELECT *
        FROM board
        WHERE boardIdx = #{boardIdx}
    </select>

    <select id="selectItemByIdxAndUserIdx"
        resultType="com.potato.nedonado.model.board.ItemEntity">
        SELECT *
        FROM board
        WHERE boardIdx = #{param1}
        AND userIdx = #{param2}
    </select>


    <select id="selectItemListByItemIdx"
            resultType="com.potato.nedonado.model.board.ItemEntity">
        SELECT *
        FROM board
        <where>
            onSale != 0
            <if test="boardIdx != 0">
                and boardIdx &lt; #{boardIdx}
            </if>
        </where>
        ORDER BY boardIdx DESC
        LIMIT 0, 10
    </select>

    <delete id="deleteByIdx">
        DELETE FROM board
        WHERE boardIdx = #{param1}
        AND userIdx = #{param2}
    </delete>

    <insert id="updateItem"
            parameterType="com.potato.nedonado.model.board.ItemEntity">
        UPDATE board
        SET title = #{title}, content = #{content}, category = #{category}, thumbnail = #{thumbnail}, imgURL = #{imgURL}, price = #{price}
        WHERE boardIdx = #{boardIdx}
        AND userIdx = #{userIdx}
    </insert>
    

    <!-- userIdx로 작성한 게시글 select -->
    <select id="selectItemListByUserIdx" resultType="com.potato.nedonado.model.board.ItemEntity">
        SELECT *
        FROM board
        WHERE userIdx=#{userIdx}
        ORDER BY boardIdx DESC
    </select>

</mapper>