<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.potato.nedonado.mapper.CommentMapper">

    <select id="selectAllComments" resultType="com.potato.nedonado.model.comment.CommentDTO">
        select * from boardComment where #boardIdx=#{boardIdx}
    </select>

    <select id="selectByBoardIdx"
            resultType="com.potato.nedonado.model.comment.CommentDTO">
        SELECT *
        FROM boardComment
        WHERE boardIdx = #{boardIdx}
        ORDER BY commentIdx ASC
        LIMIT 0, 50
    </select>

    <select id="selectCommentByLastCommentIdxLimit"
            resultType="com.potato.nedonado.model.comment.CommentDTO">
        SELECT *
        FROM boardComment
        WHERE boardIdx = #{param1}
        AND commentIdx > #{param2}
        ORDER BY commentIdx ASC
        LIMIT 0, 50
    </select>

    <select id="selectCommentByLastCommentIdx"
            resultType="com.potato.nedonado.model.comment.CommentDTO">
        SELECT *
        FROM boardComment
        WHERE boardIdx = #{param1}
        AND commentIdx > #{param2}
        ORDER BY commentIdx ASC
    </select>

    <delete id="deleteComment">
        DELETE FROM boardComment
        WHERE commentIdx = #{param1}
        AND userIdx = #{param2}
    </delete>

    <delete id="deleteCommentByBoardIdx">
        DELETE FROM boardComment
        WHERE boardIdx = #{boardIdx}
    </delete>

    <insert id="insertComment"
            parameterType="com.potato.nedonado.model.comment.CommentDTO">
        INSERT INTO boardComment(boardIdx, userIdx, nickname, content, writeDate)
        VALUES (#{boardIdx}, #{userIdx}, #{nickname}, #{content}, #{writeDate})
    </insert>

</mapper>